html {
    background-color: #EED8D2;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #222941;

    font-family: sans-serif;
    font-size: 3em;

    margin: 0 auto;
    display: table;
}

input[type=text], select{
    font-family: sans-serif;

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 75%;
    height: 3em;

    background-color: #222941; 
    color: #FFF;

    border-radius: 4px;
    border-color: #222941;

    margin: 0 auto;
    display: table;
}

p {
    font-size: .75em;
}

#submit {
    margin: 0 auto;
    display: table;

    width: 50%;
}

#submit h1 {
    font-size: 1.5em;
    margin: 0 auto;
    display: table;

    padding-bottom: 2em;
}

#submit img {
    width: 50%;

    margin: 0 auto;
    display: table;
}
